/* ./styles/globals.css */
/* Root variables */
:root {
	--accent-color: rgba(165, 180, 252);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extend tailwind */
@layer base {
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		@apply bg-gray-200;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--accent-color);
	}

	#App {
		@apply flex flex-col font-normal bg-white text-gray-600 dark:bg-gray-800 dark:text-gray-100 font-jet-brains box-border m-0 left-0 top-0 max-w-full w-full h-screen z-[1];
	}

	.nav {
		@apply flex justify-center font-ubuntu items-center min-h-[75px] max-h-[75px] text-gray-500 bg-white px-5 border-b-[1px];
	}

	.nav__logo {
		@apply uppercase tracking-[5px] text-[22px] font-bold mr-auto;
	}

	.nav__links {
		@apply fixed flex flex-col justify-start bg-white items-center h-[calc(100%-75px)] top-[75px] w-2/3 -left-full overflow-y-auto overflow-x-hidden text-sm tracking-[0px] border-r shadow-lg;
		transition: left 0.5s ease-in-out 0s;
		scrollbar-width: thin;
		scrollbar-color: var(--accent-color) rgba(228, 228, 231);
	}

	.nav__links > li {
		@apply hover:text-indigo-500 py-5;
	}

	.nav__links > hr {
		@apply md:hidden w-5/6;
	}

	.nav_mobile_toggle {
		@apply visible  w-8 mr-auto;
	}

	.nav_mobile_open {
		@apply left-0;
	}

	.line {
		fill: none;
		stroke: black;
		stroke-width: 6;
		transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.line1 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	.line2 {
		stroke-dasharray: 60 60;
		stroke-width: 6;
	}
	.line3 {
		stroke-dasharray: 60 207;
		stroke-width: 6;
	}
	.opened .line1 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}
	.opened .line2 {
		stroke-dasharray: 1 60;
		stroke-dashoffset: -30;
		stroke-width: 6;
	}
	.opened .line3 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}

	@screen md {
		.nav {
			@apply relative;
		}

		.nav__logo {
			@apply w-auto;
		}

		.nav__links {
			@apply relative flex opacity-100 h-[74px] top-0 flex-row items-center tracking-[1px] space-x-12 overflow-x-visible overflow-y-visible left-0 right-0 border-0 px-5 w-auto shadow-none;
		}

		.nav_mobile_toggle {
			@apply hidden;
		}

		.nav__links > li {
			@apply hover:text-indigo-500 relative py-0 w-max;
		}
		.nav__links > li :after {
			content: "";
			@apply flex w-full absolute h-0.5 -bottom-0.5 left-0 justify-center items-center bg-indigo-500;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform 0.3s ease-in-out;
		}
		.nav__links > li :hover:after {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
}
